# Repository - Sqlite
# REPOSITORY_TYPE=sqlite
# SQLITE_PATH=schemas.db

# Repository - Mysql
REPOSITORY_TYPE=mysql
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=sentinel
MYSQL_PASSWORD=sentinel
MYSQL_DATABASE=sentinel


# Queue - Redis
QUEUE_TYPE=redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
REDIS_QUEUE=sentinel:schemas

# Notifier - SMTP
NOTIFIER_TYPE=smtp
SMTP_HOST=smtp
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=test@sentinel.local
SMTP_TO=test@sentinel.local
SMTP_TLS=false